<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<title>REGISTER</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/register.png'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts1/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts1/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/select2/select2.min.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css1/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css1/main.css'%}">
<!--===============================================================================================-->
</head>
<body>
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<div class="login100-form-title" style="background-image: url(images/badminton.jpg);">
						<span class="login100-form-title-1">
							Register
						</span>
					</div>

					<form class="login100-form validate-form" method="POST">
						{% csrf_token %}
					<!-- <form class="login100-form validate-form"> -->
						<div class="wrap-input100 validate-input m-b-26" data-validate="First name is required">
							<span class="label-input100" for="first_name">First name</span>
							<input class="input100" type="text" id="name" name="first_name" placeholder="Enter">
							<span class="focus-input100"></span>
						</div>
						<div class="wrap-input100 validate-input m-b-18" data-validate = "Last name is required">
							<span class="label-input100" for="last_name">Last name</span>
							<input class="input100" type="text" id="last_name" name="last_name" placeholder="Enter">
							<span class="focus-input100"></span>
						</div>
						<div class="wrap-input100 validate-input m-b-18" data-validate = "E-mail is required">
							<span class="label-input100" for="email">E-mail</span>
							<input class="input100" type="text" id="email" name="email"placeholder="Enter">
							<span class="focus-input100"></span>
						</div>
						<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
							<span class="label-input100" for="password">Password</span>
							<input class="input100" type="password" id="password" name="password" placeholder="Enter">
							<span class="focus-input100"></span>
						</div>
						<br>
							<br><a style="color:#00FF00;" href="{% url 'login' %}">Sign in instead</a></br>
	                    </br>
						<div class="container-login100-form-btn">
							<button class="login100-form-btn">
								Next
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	<!-- </form> -->
</body>
</html>
